h1{
	color:white;
	font-size: 55px;
	text-align: center;
}

p{
	color: white;
}

h5{
	color: #33ccff;
}

body{
	background-color: #33ccff;
	font-family: times-new-roman;
	margin: 0;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	background-color: white;
}

li{
	float: left;
}

li a{
	float: left;
	text-align: center;
	padding: 20px;
	color: #33ccff;
	font-size: 20px;
}

li a:hover{
	color: #ffccff;
	background-color: #33ccff;
}

img.social:hover{
	opacity: .50;
}

div.section{
	display: black;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 10px;
	border: 5px;
	border-color: #ffccff;
	border-style: solid;
}